[Desktop Entry]
Version=1.0
Type=Application
Name=7i96
Comment=Mesa 7i96 Configuration Tool
Exec=7i96
Icon=/usr/share/pixmaps/linuxcncicon.png
Categories=X-CNC;Development
Terminal=false
StartupNotify=true
StartupWMClass=7i96
Name[en_US]=7i96 Configurator
