[Desktop Entry]
Version=1.0
Type=Application
Name=Something
Comment=7i96 Configuration Tool
Exec=c7i96
Icon=/usr/share/pixmaps/linuxcncicon.png
Categories=X-CNC;
Terminal=false
StartupNotify=true
StartupWMClass=c7i96.py
Name[en_US]=7i96 Configurator
